<?xml version="1.0"?>
<robot name="single_brick">
  <link name="link">
    <inertial>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <mass value="0.05" />
      <inertia ixx="0.0" ixy="0.0"  ixz="0.0"  iyy="0.0"  iyz="0.0"  izz="100.0" />
      <!-- <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" /> -->
    </inertial>
    <visual>
      <origin xyz="0 0 0.2" rpy="0 0 0"/>
      <geometry>
        <box size="0.28 0.08 0.16" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.2" rpy="0 0 0"/>
      <geometry>
        <box size="0.28 0.08 0.16" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="link">
    <material>Gazebo/Bricks</material>
  </gazebo>
</robot>